<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
    <div class="listingClassDetails" style="text-align: center;">
        <div class="imageAboutUs">
    </div>
    <h1>About us</h1>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin tempus magna in condimentum. Sed dignissim, nulla ut luctus imperdiet, augue enim ullamcorper nulla, sed sollicitudin arcu mauris vel magna. Suspendisse finibus ligula vitae tortor molestie lacinia. Proin tristique felis vitae sapien condimentum, at lobortis purus consequat. Cras varius arcu a urna tincidunt ultrices. Sed fermentum tellus ut odio venenatis aliquet. Vivamus accumsan, arcu non dictum sodales, tortor dui commodo ante, id pulvinar neque orci at magna. In venenatis neque non convallis semper. Vivamus fringilla nunc quis augue tempor posuere. Praesent scelerisque ultricies ex, et blandit diam vulputate sed.
        </article>
            </div>
        </div>
    </div>
    </div>
</main>